@font-face {
    font-family: OpenSans-Regular;
    src: url('fonts/OpenSans-Regular.ttf');
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: OpenSans-Regular;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0) no-repeat;
    background: -o-linear-gradient(45deg, #4158d0, #c850c0) no-repeat;
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0) no-repeat;
    background: linear-gradient(45deg, #4158d0, #c850c0) no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main > .card {
    min-height: 80vh;
    padding-bottom: 30px;
}

.main {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1200px;
}

table:has(.can-edit):hover{
    background-color: #4158d0;
}

.info-input{
    border: 0;
    max-width: 140px;
    min-width: 30px;
    text-align: center;
}
.info-textarea{
    border: 0;
    background: none;
}

.other-user-comment{
    background-color: lightgrey;
}

.seller-user-comment{
    background: #c850c0;
    background: -webkit-linear-gradient(135deg, rgba(65,88,208,0.5), rgba(200,80,192,0.3)) no-repeat;
    background-attachment: fixed;}

.user-comment{
    background-color: #bfddff;
}

.comment{
    border-radius: 10px;
    padding: 10px;
    width: 91%;
}