<div th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/webjars/jquery/3.4.0/jquery.js"></script>
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.bundle.js"></script>
    <link href="/webjars/bootstrap/4.0.0-2/css/bootstrap.css" rel="stylesheet"/>
    <link href="/resources/styles.css" rel="stylesheet"/>
</div>