<div th:fragment="navigation" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/ads">Ads Place</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()" >
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" sec:authentication="name"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" >(Log out)</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('MODIFY_USERS')">
                        <a class="nav-link text-primary" href="/admin/users/">Users management</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>