<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ad's details</title>
    <object th:include="components/head_resources.html :: head" th:remove="tag"/>
</head>
<body>
<object th:include="components/navigation.html :: navigation" th:remove="tag"/>
<div class="container main">
    <div class="card">
        <div class="row">
            <div class="text-center col-lg-4">
                <h6 class="mt-5">Posting date</h6>
                <h4 th:text="${#dates.format(ad.postingTimestamp, 'HH:mm:ss')}"></h4><br/>
                <h4 th:text="${#dates.format(ad.postingTimestamp, 'dd.MM.yyyy')}" style="margin-top: -25px;"></h4>
            </div>
            <div class="text-center col-lg-4">
                <h1 class="mt-5">Ad details</h1>
                <span th:if="${ad.buyer}">
                    <label>Price: <b><span th:text="${ad.price}"/></b></label>
                </span>
            </div>
            <div class="text-center col-lg-4" th:if="${ad.buyer==null}">
                <h6 class="mt-5">Price</h6>
                <h4 th:text="${ad.price}"/>
                <span th:if="${!#authorization.getAuthentication().getPrincipal().username.equals(ad.seller.getLogin())}" sec:authorize="hasAuthority('ADD_COMMENTS')">
                    <a  th:href="@{/ads/{id}/buy(id=${ad.getId()})}"><button type="button" class="btn btn-success">Buy this</button></a>
                </span>
                <span th:if="${#authorization.getAuthentication().getPrincipal().username.equals(ad.seller.getLogin())}" sec:authorize="hasAuthority('ADD_COMMENTS')">
                    <a th:href="@{/ads/{id}/edit(id=${ad.getId()})}"><button type="button" class="btn btn-primary">Edit ad</button></a>
                    <a th:href="@{/ads/{id}/delete(id=${ad.getId()})}"><button type="button" class="btn btn-danger">Delete ad</button></a>
                </span>
                <span th:if="${!#authorization.getAuthentication().getPrincipal().username.equals(ad.seller.getLogin())}" sec:authorize="hasAuthority('DELETE_OTHER_COMMENTS')">
                    <a th:href="@{/ads/{id}/delete(id=${ad.getId()})}"><button type="button" class="btn btn-danger">Delete ad</button></a>
                </span>
            </div>
            <div class="text-center col-lg-3" th:if="${ad.buyer}">
                <h6 class="mt-5">Buying date</h6>
                <h4 th:text="${#dates.format(ad.buyingTimestamp, 'HH:mm:ss')}"></h4><br/>
                <h4 th:text="${#dates.format(ad.buyingTimestamp, 'dd.MM.yyyy')}"
                    style="margin-top: -25px;"></h4>
            </div>
        </div>
        <hr class="mr-5 ml-5 mt-4"/>
        <div class="col-lg-12 ml-5">
            <h6 class="mt-1">Title</h6>
            <h4 class="mt-1 text-dark mb-3" th:text="${ad.title}">Ad name</h4>
            <h6 class="mt-5">Description</h6>
            <h4 class="mt-1 text-dark mb-3" th:text="${ad.description}">Ad description</h4>
            <h6 class="mt-5">Seller</h6>
            <a th:href="@{/users/{id}(id=${ad.seller.getId()})}">
                <h4 class="mt-1 mb-3" th:text="${ad.seller.name}">Seller</h4>
            </a>
            <div class="mt-5" th:if="${ad.buyer}">
                <h6>Buyer</h6>
                <a th:href="@{/users/{id}(id=${ad.buyer.getId()})}">
                    <h4 class="mt-1 mb-3" th:text="${ad.buyer.name}">Seller</h4>
                </a>
            </div>
        </div>
        <hr class="mr-5 ml-5"/>
        <div class="col-lg-12 ml-5">
            <h2 class="mt-4">Comments</h2>
            <div class="mt-5" sec:authorize="hasAuthority('ADD_COMMENTS')">
                <form th:action="@{/ads/{id}/publish-comment(id=${ad.getId()})}" method="post">
                    <textarea name="value" class="form-control col-lg-5" placeholder="Write your comment here"
                              rows="3"></textarea>
                    <input type="submit" class="btn btn-primary mt-3" value="Add comment"/>
                </form>
                <hr class="float-left" style="width: 90%"/>

            </div>
            <div class="mt-5">
                <div th:each="comment: ${ad.comments}">
                    <div class="comment"
                         th:classappend="${ad.seller.login.equals(comment.user.getLogin())} ? seller-user-comment : comment">
                        <div>By
                            <a th:href="@{/users/{id}(id=${comment.user.getId()})}">
                                <span class="mt-1 mb-3" th:text="${comment.user.name}">user</span>
                            </a>
                            <span sec:authorize="hasAuthority('ADD_COMMENTS')"
                                  th:if="${#authorization.getAuthentication().getPrincipal().username.equals(comment.user.getLogin())}">
                                 (You)
                            </span>
                            <span th:if="${ad.seller.login.equals(comment.user.getLogin())}">
                                  (Seller)
                            </span>
                        </div>
                        <span th:text="${#dates.format(comment.timestamp, 'HH:mm:ss')}"></span>
                        <span th:text="${#dates.format(comment.timestamp, 'dd.MM.yyyy')}"></span>

                        <div sec:authorize="hasAuthority('ADD_COMMENTS')" >
                            <form th:action="@{/ads/{ad_id}/edit-comment/{id}(id=${comment.getId()},ad_id=${ad.getId()})}"

                                  method="post">
                                <span   th:if="${#authorization.getAuthentication().getPrincipal().username.equals(comment.user.getLogin())}">
                                <textarea class="info-textarea mt-3" name="value" th:text="${comment.value}"
                                          style="width: 100%"></textarea>
                                <br/>
                                <input type="submit" class="btn btn-sm btn-primary col-lg-1" value="Edit"/>
                                <a th:href="@{/ads/{ad_id}/delete-comment/{id}(id=${comment.getId()},ad_id=${ad.getId()})}"
                                   class="btn btn-sm btn-danger">Delete</a>
                                </span>
                            </form>
                        </div>
                        <div th:if="${#authorization.getAuthentication().getPrincipal().equals('anonymousUser') or !#authorization.getAuthentication().getPrincipal().username.equals(comment.user.getLogin())}">
                            <br/>
                            <span th:text="${comment.value}"></span>
                        </div>
                        <a  th:if="${!#authorization.getAuthentication().getPrincipal().username.equals(comment.user.getLogin())}" sec:authorize="hasAuthority('DELETE_OTHER_COMMENTS')" th:href="@{/ads/{ad_id}/delete-comment/{id}(id=${comment.getId()},ad_id=${ad.getId()})}"
                            class="btn btn-sm btn-danger">Delete</a>
                    </div>
                    <div style="width:90%">
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>