<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:if="${ad!=null}">Edit ad</title>
    <title th:text="${ad!=null?'Edit ad':'Publish new ad'}">Publish new ad</title>
    <object th:include="components/head_resources.html :: head" th:remove="tag"/>
</head>
<body>
<object th:include="components/navigation.html :: navigation" th:remove="tag"/>
<div class="container main">
    <div class="card">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5 text-dark" th:text="${ad!=null?'Edit ad':'Publish new ad'}"></h1>
                <br/>
                <hr/>
            </div>
            <div class="container">
                <div class="d-flex justify-content-center align-items-center container">
                    <form class="text-center" action="/ads/publish" method="post">
                        <h3>Title</h3>
                        <input type="hidden" name="id" th:if="${ad!=null}" th:value="${ad.getId()}"/>
                        <input type="text" th:value="${ad!=null?ad.title:''}" name="title" class="form-control center-block" placeholder="Title..."  style="max-width: 500px"/>
                        <br/>
                        <h3>Description</h3>
                        <textarea th:text="${ad!=null?ad.description:''}" name="description" placeholder="Description..." class="form-control" style="width: 500px;" rows="3"></textarea>
                        <br/>
                        <h3>Price</h3>
                        <div class="d-flex justify-content-center container">
                            <input type="text"th:value="${ad!=null?ad.price:''}" name="price" class="form-control" placeholder="Price..." style="max-width: 120px"/>
                        </div>
                        <br/>
                        <br/>
                        <input type="submit" class="btn btn-success" th:if="${ad==null}" value="Publish"/>
                        <input type="submit" class="btn btn-success" th:if="${ad!=null}" value="Edit"/>
                        <br/>
                        <br/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>