<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>All ads</title>
    <object th:include="components/head_resources.html :: head" th:remove="tag"/>
    <script src="/resources/js/bootstrap-input-spinner.js"></script>
    <script>
    function clearFilters(){
        $('input[name=title]').val("");
        $('input[name=description]').val("");
        $('input[name=minPrice]').val(0);
        $('input[name=maxPrice]').val(1000);
        $('select[name=status]').val("ALL");
    }
    </script>
</head>
<body>
<object th:include="components/navigation.html :: navigation" th:remove="tag"/>

<div class="container main">
    <div class="card">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">All ads</h1>
                <br/>
                <div class="container">
                    <form action="/ads" method="get" novalidate>
                    <table class="align-center text-center table" style="width:800px;margin: 0 auto">
                        <tr>
                            <td>
                                 
                                <input type="text" style="width: 400px;" class="form-control" name="title" th:value="*{title}" placeholder="Title">
                                 
                                <input type="text" class="form-control" th:value="*{description}"  name="description" placeholder="Description">
                            </td>
                            <td>
                                Min price<input type="number" name="minPrice" th:value="${minPrice}" value="100" min="0"/>
                                Max price<input type="number" name="maxPrice" th:value="${maxPrice}" value="1000" min="1" step="100"/>
                            </td>
                            <td>
                                Status: <select name="status" class="browser-default form-control custom-select">
                                    <option th:attrappend="selected=${status!=null && status.equals('ALL')}?'selected'">ALL</option>
                                    <option th:attrappend="selected=${status!=null && status.equals('SOLD')}?'selected'">SOLD</option>
                                    <option th:attrappend="selected=${status!=null && status.equals('SELLING')}?'selected'">SELLING</option>
                                </select>
                                <br/>
                                <br/>
                                <div class="mt-2"><a href="#" onclick="clearFilters();">Clear filters</a></div>
                            </td>
                        </tr>
                    </table>

                     <br/>
                    <input type="submit" class="btn btn-success search-btn mb-1" value="Apply search"/>
                    <br/><br/><br/>
                    </form>
                </div>
                <script>
                    $("input[type=number]").inputSpinner();
                </script>
                <table class="col-md-11 text-center table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ad: ${ads}">
                        <td th:text="${ad.id}"/>
                        <td th:text="${ad.title}"/>
                        <td>
                            <h6 th:if="${ad.buyer==null}" class="text-primary">SELLING</h6>
                            <h6 th:if="${ad.buyer!=null}" class="text-success">SOLD</h6>
                        </td>
                        <td th:text="${ad.price}"/>
                        <td><a th:href="@{/ads/{id}(id=${ad.id})}">View</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>