<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>All users</title>
    <object th:include="components/head_resources.html :: head" th:remove="tag"/>
</head>
<body>
<object th:include="components/navigation.html :: navigation" th:remove="tag"/>

<div class="container main">
    <div class="card">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">All users</h1>
                <br/>
                <div class="container mb-4">
                    <div class="d-flex">
                        <div class="ml-auto">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item" th:if="${previousPage!=null}">
                                        <a class="page-link" th:href="@{/admin/users?page=__${previousPage}__}">Previous</a>
                                    </li>
                                    <li class="page-item" th:if="${nextPage}">
                                        <a class="page-link" th:href="@{/admin/users?page=__${nextPage}__}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <table class="col-md-11 text-center table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Login</th>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.id}"/>
                        <td th:text="${user.login}"/>
                        <td th:text="${user.name}"/>
                        <td th:text="${user.balance}"/>
                        <td><a th:href="@{/admin/users/{id}(id=${user.id})}">View</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>