<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User's details</title>
    <object th:include="components/head_resources.html :: head" th:remove="tag"/>
    <script src="/resources/js/user_details.js"></script>
</head>
<body>
<object th:include="components/navigation.html :: navigation" th:remove="tag"/>
<div class="container main">
    <div class="card">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Profile details</h1>
                <a  th:href="@{/users/{id}(id=${user.id})}">
                    <h3 class="mt-1 mb-3" th:text="${user.name}">User</h3>
                </a>
                <table class="col-md-11 text-center table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Login</th>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Password</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${user.id}"/>
                        <td>
                            <input type="hidden" name="id" th:value="${user.login}">
                            <label class="info-input" th:text="${user.login}" />
                        </td>
                        <td><input type="text" name="name" class="info-input" th:value="${user.name}"></td>
                        <td><input type="text" name="balance" class="info-input" th:value="${user.balance}"></td>
                        <td><input type="password" name="password" class="info-input" placeholder="********"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="container">
                    <div class="d-flex">
                        <div>
                            <div class="mr-2">

                            </div>
                        </div>
                        <div class="ml-auto">
                            <a th:href="@{edit/{id}(id=${user.id})}" id="edit-link"></a>
                            <button class="btn btn-success save-btn">Save changes</button>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <div class="mt-10"><h4 class="edit-result-label"></h4></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>