<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login page</title>
    <object th:include="components/head_resources.html :: head" th:remove="tag"/>
</head>
<body>
<object th:include="components/navigation.html :: navigation" th:remove="tag"/>
<div class="container main">
    <div class="card">
        <div class="container col-md-5">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Log in</h1>
                <form action="/login" method="post" class="mt-3">
                    <input type="text" class="form-control" name="login" placeholder="Login" required autofocus>
                    <br/>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                    <br/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                </form>
                <br/>
                <label id="status" class="text-danger" th:text="${message}"></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>