<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My profile</title>
    <object th:include="components/head_resources.html :: head" th:remove="tag"/>
</head>
<body>
<object th:include="components/navigation.html :: navigation" th:remove="tag"/>
<div class="container main">
    <div class="card">
        <div class="container col-md-12 mt-4">
            <span style="float:right" class="mr-4">Balance: <span th:text="${user.balance}"></span></span>
            <br/>
            <br/>
            <a href="/ads/publish"><button class="btn btn-success save-btn" style="float:right">Publish new ad</button></a>
            <br/>
            <br/>
            <h3  class="col-lg-12 text-center" style="position:absolute;margin-top: -70px;" th:text="${'Hello, ' + user.name}">Hello user</h3>
            <hr/>
            <div>
                <br/>
                <h2 align="center">Your published ads</h2>
                <br/>
                <br/>
                <table class="col-md-11 text-center table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ad: ${user.ownAds}">
                        <td th:text="${ad.title}"/>
                        <td th:text="${ad.price}"/>
                        <td>
                            <h6 th:if="${ad.buyer==null}" class="text-primary">SELLING</h6>
                            <h6 th:if="${ad.buyer!=null}" class="text-success">SOLD</h6>
                        </td>
                        <td><a th:href="@{/ads/{id}(id=${ad.id})}">View</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-5">
                <h2 align="center">Your buyed ads</h2>
                <br/>
                <br/>
                <table class="col-md-11 text-center table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Buying date</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="buyedAd: ${user.buyedAds}">
                        <td th:text="${buyedAd.title}"/>
                        <td th:text="${buyedAd.price}"/>
                        <td>
                            <span th:text="${#dates.format(buyedAd.postingTimestamp, 'HH:mm:ss')}"></span>
                            <span th:text="${#dates.format(buyedAd.postingTimestamp, 'dd.MM.yyyy')}"></span>
                        </td>
                        <td><a th:href="@{/ads/{id}(id=${buyedAd.id})}">View ad</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-5">
                <h2 align="center">Your comments</h2>
                <br/>
                <br/>
                <table class="col-md-11 text-center table table-hover">
                    <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Time</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="comment: ${user.comments}">
                        <td th:text="${comment.value}"/>
                        <td>
                            <span th:text="${#dates.format(comment.timestamp, 'HH:mm:ss')}"></span>
                            <span th:text="${#dates.format(comment.timestamp, 'dd.MM.yyyy')}"></span>
                        </td>
                        <td><a th:href="@{/ads/{id}(id=${comment.ad.getId()})}">View ad</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>